<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          
          <%= f.text_field :name, autofocus: true, placeholder: 'name', required: true, label: false, class: "form-control" %>
        </div> 

        <div class="field">
          <%= f.email_field :email, placeholder: 'email', required: true, label: false, class: "form-control" %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: 'password', required: true, label: false, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'password_confirmation', required: true, label: false, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.text_field :location, :id => 'geoloc-input',  class: "form-control" %>
        </div> 

        <div class="field">
          <%= f.label :avatar do %>
            <%= f.file_field :avatar, class: "form-control" %>
            <%= f.hidden_field :avatar_cache %>
          <% end %>
        </div>

        

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
       <%= render "devise/shared/links" %>
             
    </div>

  </div>
</div>         

