<div class="comment-clearfix">
  <div class="comment-content">
    <p class="comment-user_id">
      <% @name = User.find(comment.user_id) %>
      <strong><%= @name.name%></strong>
    </p>
    <p class="comment-body"><%= comment.body %></p>
    <p class="comment-time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
  </div>
</div>