<%= form_for([@meetup_group, @meetup_group.comments.build]) do |f| %>
 
  <%= f.text_field :user_id, :value => current_user.id, type: "hidden"%>
  

  <p>
    <%= f.text_area :body,  placeholder: 'Comments', required: true, label: false, class: "form-control" %>
  </p>
  <br>
  <p>
    <%= f.submit %>
  </p>


<% end %>