<nav class="navbar navbar-default">
  <div class="container-fluid">        
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
      <a class="navbar-brand" href="<%= root_path %>">Meetup</a>        
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class=" video-link medium-paragraph text-center">
        <ul class="nav navbar-nav ">
          <li><%= link_to 'CREATE MEETUP', new_meetup_group_path %> </li> 
        </ul> 
        <ul class="nav navbar-nav navbar-right">          
          <li><%= link_to 'HOME', root_path %></li> 
                     
          <% if user_signed_in? %>

            <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %> </li>
                         
          <% else %>                      
            <li><%= link_to 'SIGN IN', new_user_session_path %></li>
          <% end %>
        </ul>
      </div> 
    </div>
  </div>         
</nav>



<div class="container ">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 profile">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">PROFILE</h1>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag(@user.avatar.url(:thumb)) %>                  
              
            </div>

            <div class="col-md-10">
              <h2>        
                <%= @user.name %>
              </h2>
              <h4>
                <%= @user.location %>
              </h4>          
            </div>
          </div>
        </div>  
        <div class="col-md-10">
          <h4 class="date">
            <strong>Meetup member since:</strong>
            <%= @user.created_at.strftime("%B %d, %Y") %>
          </h4> 
        </div>


        
        <div class="col-md-12 organizer-count">
          <% if @meetupcount < 1 %>
          <% elsif @meetupcount == 1 %>
            <h4>Organiser of 1 Meetup Group:</h4>
          <% elsif @meetupcount > 1 %>
            <h4>Organiser of <%= @meetupcount %> Meetup Groups:</h4>  
          <% end %>
        </div>

        <div class="col-md-12 organizer-profile ">
          <% @meetups.each do |meetup| %>
            <div class="col-sm-6 categories organizer">
              <h3><%= link_to meetup.name, meetup_group_path(meetup)%></h3>
            </div> 
          <% end %> 
        </div>

        <div class="col-md-12 join-count">
          <% if @joincount < 1 %>
          <% elsif @joincount == 1 %>
            <h4>Member of 1 Meetup Group:</h4>
          <% elsif @joincount > 1 %>
            <h4>Member of <%= @joincount %> Meetup Groups:</h4>  
          <% end %>
        </div>
         

        <div class="col-md-12 join-profile">
          <% @joins.each do |join| %>
            <% @meetup = MeetupGroup.find(join.meetup_group_id)%>
            <div class="col-sm-6 categories profile_member">
              <h3><%= link_to @meetup.name, meetup_group_path(id: @meetup.id) %></h3>
            </div> 
          <% end %> 
        </div>


        <div class="col-md-12">
        <% if user_signed_in? %>
          <% if @user.id == current_user.id %>
            <%= link_to 'Edit', edit_user_registration_path %> 
          <% end %>
        <% end %>
        </div>

        
      </div>

    </div>
   
  </div>
</div>
