<div class="container"> 
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="text-center">New Meetup Group</h1>
    <%= form_for(meetup_group) do |f| %>
      <% if meetup_group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(meetup_group.errors.count, "error") %> prohibited this meetup_group from being saved:</h2>

          <ul>
          <% meetup_group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :name, placeholder: 'name', required: true, label: false, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :location, :id => 'geo-input', class: "form-control" %>
      </div> 

      <div class="field">
        <%= f.collection_select :category_id, Category.order(:name),:id, :name, {}, include_blank: true , class: "form-control" %>        
      </div>

      <div class="field">
        <%= f.text_area :about, placeholder: 'About Your Meetup Group', required: true, label: false, class: "form-control" %>
      </div>

      <div class="field">        
        <%= f.text_field :user_id, :value => current_user.id, type: "hidden" %>         
      </div>

      <div class="actions">
        <%= f.submit  %>
      </div>
    <% end %>
    <%= link_to 'Back', meetup_groups_path %>
  </div>
</div>
