<%= form_for(meetup_groups_create_event) do |f| %>
  

  <div class="field">
    <%= f.text_field :name, placeholder: 'name', class: "form-control" %>
  </div>

  <div class="field">
    <%= f.text_field :event_sub, placeholder: 'Subject', class: "form-control" %>
  </div>

  <div class="field">
    <%= f.text_field :location, :id => 'geo-input', class: "form-control" %>
  </div> 

  <div class="field">
    <%= f.date_field :start_date,  class: "form-control" %>        
  </div>

  <div class="field">
    <%= f.date_field :end_date,  class: "form-control" %>        
  </div>

  <div class="field">
    <%= f.text_field :price, placeholder: 'Price per person', class: "form-control" %>
  </div>

  <div class="field">
    <%= f.text_field :total_seats, placeholder: 'No.of Seats', class: "form-control" %>
  </div>

  <div class="field">
    <%= f.text_area :about, placeholder: 'About Your Meetup Event', class: "form-control" %>
  </div>

  <div class="field">        
    <%= f.text_field :user_id, :value => current_user.id, type: "hidden" %>         
  </div>

  <div class="field">        
    <%= f.text_field :meetup_group_id, :value => @meetup_group.id, type: "hidden" %>         
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
