<nav class="navbar navbar-default">
  <div class="container-fluid">        
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
      <a class="navbar-brand" href="<%= root_path %>">Meetup</a>        
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class=" video-link medium-paragraph text-center">
        <ul class="nav navbar-nav ">
          <li><a href="meetup_groups/new">CREATE MEETUP</a></li> 
        </ul> 
        <ul class="nav navbar-nav navbar-right">  
          <li><a href="#">HOME</a></li>            
          <% if user_signed_in? %>
            <li><a data-method="delete" href="/users/sign_out">SIGN OUT</a> </li>
            <li><%= link_to "PROFILE" , users_show_path(id: current_user.id) %></li>               
          <% else %>                      
            <li> <a href="/users/sign_in">SIGN IN</a></li>
          <% end %>
        </ul>
      </div> 
    </div>
  </div>         
</nav>

<div class="container">
  <div class="row">
    <h1 class="text-center">Meetup Groups</h1>
    <div class="col-sm-8 col-sm-offset-2 text-center"> 
      <% @meetup_groups.each do |meetup_group| %>
      
        <h3> <%= link_to meetup_group.name, meetup_group_path(meetup_group) %></h3><br>
        <%-#= meetup_group.location -%>   
        <%-#=  meetup_group.about -%>
        <%-#= link_to 'Show', meetup_group -%>
        <%-#= link_to 'Edit', edit_meetup_group_path(meetup_group) -%>
        <%-#= link_to 'Destroy', meetup_group, method: :delete, data: { confirm: 'Are you sure?' } -%>
      
      <% end %>    
    <br>
    <%= link_to 'Create Meetup Group', new_meetup_group_path %><br><br>
    </div>  
  </div>
</div>