<nav class="navbar navbar-default">
  <div class="container-fluid">        
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
      <a class="navbar-brand" href="<%= root_path %>">Meetup</a>        
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class=" video-link medium-paragraph text-center">
        <ul class="nav navbar-nav ">          
          <li><%= link_to 'CREATE MEETUP', new_meetup_group_path %> </li> 
        </ul> 
        <ul class="nav navbar-nav navbar-right">          
          <li><%= link_to 'HOME', root_path %></li> 
                     
          <% if user_signed_in? %>

            <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %> </li>
            <li><%= link_to "PROFILE" , users_show_path(id: current_user.id) %></li>               
          <% else %>                      
            <li><%= link_to 'SIGN IN', new_user_session_path %></li>
          <% end %>
        </ul>
      </div> 
    </div>
  </div>         
</nav>

<div class="container">
  <div class="row">

    <div class="member-heading text-center">
      <h1> MEMBERS </h1>
    </div>

    <div class="col-md-12"> 
      <% @users.each do |user| %>
      <% @member = User.find(user.user_id) %> 
       
        <div class="col-md-4">
        
          <div class="col-md-5">  
            <%= image_tag(@member.avatar.url(:thumb)) %>
          </div>
          <div class="col-md-7"> 
            <h4><%=  link_to @member.name, users_show_path(id: @member.id) %></h4>
            <h5><%= @member.location %></h5>
            <h5>Joined <%= user.created_at.strftime("%B %d, %Y") %>
          </div>

        </div>           
      <% end %>
    </div> 
  </div>
</div> 