<nav class="navbar navbar-default">
  <div class="container-fluid">        
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
      <a class="navbar-brand" href="<%= root_path %>">Meetup</a>        
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class=" video-link medium-paragraph text-center">
        <ul class="nav navbar-nav ">
          <li><%= link_to 'CREATE MEETUP', new_meetup_group_path %> </li> 
        </ul> 
        <ul class="nav navbar-nav navbar-right">          
          <li><%= link_to 'HOME', root_path %></li> 
          <li><%= link_to 'MEMBERS', meetup_groups_members_path(id: @meetup_group.id) %></li>           
          <% if user_signed_in? %>
            <% if @joins.present? %>            
              <li><%= link_to 'CREATE EVENT', new_event_path(id: @meetup_group.id) %></li>
            <% end %>
            <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %> </li>
            <li><%= link_to "PROFILE" , users_show_path(id: current_user.id) %></li>               
          <% else %>                      
            <li><%= link_to 'SIGN IN', new_user_session_path %></li>
          <% end %>
        </ul>
      </div> 
    </div>
  </div>         
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 meetups ">
      <div class="text-center header">
        <h1><%= @meetup_group.name %></h1><br>
        <h6><%= @meetup_group.about %></h6>
      </div>

      <div class="col-sm-6">
        <h4><i class="fa fa-map-marker" ></i> <%= @meetup_group.location %> </h4>
      </div>  

      <div class="col-sm-6">
        <h4>Founded: <%= @meetup_group.created_at.strftime("%B %d, %Y") %></h4>
      </div>

        <% if @joins.present? %>
        <% else %> 

          <%= render "joins/form" %>        
        <% end %>
      <div class="col-md-8 col-md-offset-2 upcoming-events">       
        <h4> Upcoming Events </h4>
      </div>
      <div class="col-md-8 col-md-offset-2">       
        <% @events.each do |event| %>
          <div class="col-md-12 events"> 
            <% if event.start_date > Date.today %>
              <br><h4><%= link_to event.name, event_path(id: event.id) %></h4>
              <h5><%= event.start_date.strftime("%B %d, %Y") %></h5>
              <p><%= event.event_sub %></p>
            <% end %>
          </div>
        <% end %>
      </div>


      <div class="col-md-12">
        <h4><%= @meetup_group.comments.count %> Comments</h4>
        <%= render @meetup_group.comments %>

        <h4>Add a comment:</h4>
        <% if user_signed_in? %>
          <%= render "comments/form" %>
        <% else %>
          <%= link_to 'SIGN IN', new_user_session_path %>
        <% end %>
      </div>

      
      <div class="col-md-12">
        <% if user_signed_in? %>
          <% if @meetup_group.user_id == current_user %>
            <%= link_to 'Edit', edit_meetup_group_path(@meetup_group) %> |
          <% end %>
        <% end %>
        <%= link_to 'Back', meetup_groups_path %>
      </div>
    </div>
  </div>
</div>


