

  
<nav class="navbar navbar-default">
  <div class="container-fluid">        
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
      <a class="navbar-brand" href="<%= root_path %>">Meetup</a>        
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class=" video-link medium-paragraph text-center">
        <ul class="nav navbar-nav ">
          <li><a href="meetup_groups/new">CREATE MEETUP</a></li> 
        </ul> 
        <ul class="nav navbar-nav navbar-right">  
          <li><a href="#">HOME</a></li>            
          <% if user_signed_in? %>
            <li><a data-method="delete" href="/users/sign_out">SIGN OUT</a> </li>
            <li><%= link_to "PROFILE" , users_show_path(id: current_user.id) %></li>               
          <% else %>                      
            <li> <a href="/users/sign_in">SIGN IN</a></li>
          <% end %>
        </ul>
      </div> 
    </div>
  </div>         
</nav>
<div class="container"> 
  <div class="row"> 



 
    <div class="category ">      
        <% if user_signed_in? %>
           <h1 class="text-center">Meetup Groups</h1>
          <% @meetup_groups.each do |meetup| %>
            <div class="col-sm-8 col-md-offset-2 group-list text-center">
              <h2><%= link_to meetup.name, meetup_group_path(meetup) %></h2>
              <h5><%=  meetup.location %></h5>
            </div> 
          <% end %>         
            
        <% else %>  
          <h1>Categories</h1>
          <% @categories.each do |category| %>
            <div class="col-sm-2 categories">
              <h2><%= link_to category.name , meetup_groups_path(id: category.id) %></h2>
            </div> 
          <% end %>
        <% end %>
    </div>


  </div>

</div>

