<div class="container">
  <div class="row">
    <%= form_for(event) do |f| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :name, placeholder: 'name', required: true, label: false, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :event_sub, placeholder: 'Subject', required: true, label: false, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :location, :id => 'geo-input', class: "form-control" %>
      </div> 

      <div class="field">
        <%= f.date_field :start_date, required: true, label: false,  class: "form-control" %>        
      </div>

      <div class="field">
        <%= f.date_field :end_date,  class: "form-control" %>        
      </div>

      <div class="field">
        <%= f.text_field :price, placeholder: 'Price per person', class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_field :total_seats, placeholder: 'No.of Seats', class: "form-control" %>
      </div>

      <div class="field">
        <%= f.text_area :about, placeholder: 'About Your Meetup Event', required: true, label: false, class: "form-control" %>
      </div>

      <div class="field">        
        <%= f.text_field :user_id, :value => current_user.id, type: "hidden" %>         
      </div>

      <div class="field">        
        <%= f.text_field :meetup_group_id, :value => @meetup.id, type: "hidden" %>         
      </div>



      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>