<nav class="navbar navbar-default">
  <div class="container-fluid">        
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
      <a class="navbar-brand" href="<%= root_path %>">Meetup</a>        
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class=" video-link medium-paragraph text-center">
        <ul class="nav navbar-nav ">
          <% @meetup = MeetupGroup.find(@event.meetup_group_id)%>
          <li><%= link_to 'CREATE MEETUP', new_meetup_group_path %> </li> 
        </ul> 
        <ul class="nav navbar-nav navbar-right">          
          <li><%= link_to 'HOME', root_path %></li> 
          <li><%= link_to 'MEMBERS', meetup_groups_members_path(id: @meetup.id) %></li>
                     
          <% if user_signed_in? %>

            <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %> </li>
            <li><%= link_to "PROFILE" , users_show_path(id: current_user.id) %></li>               
          <% else %>                      
            <li><%= link_to 'SIGN IN', new_user_session_path %></li>
          <% end %>
        </ul>
      </div> 
    </div>
  </div>         
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 event-border">
      <div class="text-center ">        
        <h1 class="header"><%= @meetup.name %><h1>
        <h2><%=@event.name %></h2><br>
        <h5><%= @event.event_sub %></h5>
      </div>

      
      <div class="row"> 
        <div class="col-md-6">    
          <h4> <%= @event.start_date.strftime("%B %d, %Y") %> </h4>
          <h4><i class="fa fa-map-marker" ></i> <%= @event.location %> </h4><br>
        </div> 
        <div class="col-md-6">  
          <h4> <%= @event.end_date.strftime("%B %d, %Y") %> </h4><br>
        </div> 

        <div class="col-md-12"> 
          <% if @event.total_seats != ''%>
            <% @balance = @event.total_seats.to_i - @rsvp_count %>            
            <h4> <%= @balance %> Seats Remaining </h4>      
          <% end %>
          <p class="text-center"> <%= @event.about   %> </p><br>
          
          <% if @rsvp.present? %>
            <% @rsvp.each do |rsvp| %>
              <%='Change RSVP'%><br>
              <%= link_to 'Not Going', rsvp_path(id: rsvp.id),  method: :delete %>
            <% end %>
          <% else %>
            <%= link_to 'RSVP', rsvp_index_path(id: @event.id),  method: :post %><br>
          <% end %>
        </div>

        <div class="col-md-12">
          <h5><%= @rsvp_users.count %> Going</h5>
          <br><br><% @rsvp_users.each do |rsvp_user| %>
          <% @user = User.find(rsvp_user.user_id) %>
            <div class="col-md-12">
              <div class="col-md-3">  
                <%= image_tag(@user.avatar.url(:thumb)) %><br><br>
              </div>
              <div class="col-md-9"> 
                <h4><%= @user.name %></h4>
                <h5><%= @user.location %></h5>
              </div>         
            </div>
          <% end %>
        </div>

        <div class="col-md-12">
          <% if user_signed_in? %>
            <% if @event.user_id == current_user.id %>
              <%= link_to 'Edit', edit_event_path(@event) %> |
            <% end %>
          <% end %>
          <%= link_to 'Back', meetup_group_path(@event.meetup_group_id) %>
        </div>


      </div>  
    </div>

  </div>
</div>

