<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: 'email', required: true, label: false, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'password', required: true, label: false, class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>

  </div>
</div>  
