// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-border{
  border: 1px solid;
  border-color: #ccc;
  margin-bottom: 60px;
  padding-left: 89px !important;
    padding-right: 80px !important;
}
.event-border .header{
  padding-bottom: 25px;
  padding-top: 27px;
  border-bottom: 1px solid;
  border-color: #ccc;
}