// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category{
  background-color: #fff;
  
}
.category h1{
margin-bottom: 40px;
}

.category .categories{
  margin-bottom: 10px;
  margin-right: 10px;
}