// Place all the styles related to the meetup_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meetups{
  border: 1px solid;
  border-color: #ccc;
  margin-bottom: 60px;
}
.meetups .header h1{
  padding-top: 30px;
}
.meetups .header h6{
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 30px;
}
.meetups .events{
  border-bottom:  1px solid;
  border-color: #ccc;
}
.meetups .upcoming-events h4{
  margin-bottom: 15px;
  margin-top: 28px;
}
