// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.member-heading h1{
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid;
  border-color: #ccc;

}


//**********PROFILE STYLESHEET*************///


.profile{
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid;
  border-color: #ccc;
  padding-top:  50px;
}
.profile h1{
  padding-bottom: 30px;
}       
.profile .join-count h4, .organizer-count h4{
  padding-bottom: 30px;
}
.profile .join-profile{
  padding-bottom: 30px;
}

.profile .organizer-profile{
  padding-bottom: 30px;
}

.profile .organizer{
  background-color: #fff !important;

}
.profile .profile_member{
  background-color: #fff !important;

}
