<% if user_signed_in? %>
  <%= form_for([@meetup_group, @meetup_group.joins.build]) do |f| %>
    

    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div class="field">
      <%= f.hidden_field :meetup_group_id, :value => @meetup_group.id %>
    </div>

    <div class="actions">
      <%= f.submit "Join" %>
    </div>
  <% end %>
<% end %>
