<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @join.user_id %>
</p>

<p>
  <strong>Meetup group:</strong>
  <%= @join.meetup_group_id %>
</p>

<%= link_to 'Edit', edit_join_path(@join) %> |
<%= link_to 'Back', joins_path %>
