<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBdWj-nI5Jx6_DWSrA-oG59TY2XDWE7TyY" async="" defer="defer" type="text/javascript" ></script>
 -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBxJlF_CQo6ZRaalZ7dshWy0FKbJ1MVDRs" async="" defer="defer" type="text/javascript" ></script>
    


    <script scr="jquery.geocomplete.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
